{% extends 'app/base.html' %}  <!-- Extiende la plantilla base para usar su estructura general -->

{% load static %}  <!-- Carga las etiquetas de estáticos para poder incluir archivos estáticos como imágenes o hojas de estilo -->

{% block title %}Cambiar Contraseña | Lili Fashion{% endblock title %}  <!-- Define el título específico para esta página, que se inserta en el bloque 'title' de la plantilla base -->

{% block main-content %}  <!-- Inicia el bloque de contenido principal que será insertado en la plantilla base -->
<div class="container my-5">  <!-- Crea un contenedor con un margen vertical de 5 unidades -->
    <div class="row">  <!-- Crea una fila en la estructura de Bootstrap -->
        <h7>Hola {{request.user.username|capfirst}}, aquí puedes cambiar tu contraseña.</h7>  <!-- Muestra un saludo con el nombre de usuario del usuario logueado, capitalizando la primera letra del nombre -->
        <br>
        <div class="col-sm-8 offset-sm-1">  <!-- Define una columna en la que el formulario se centra, con un tamaño de 8 columnas de ancho -->
            <form action="" method="post" novalidate class="shadow p-5" id="shadow-1">  <!-- Crea un formulario que envía la solicitud mediante el método POST y sin validación del navegador -->
                {% csrf_token %}  <!-- Agrega un token CSRF para proteger el formulario de ataques CSRF -->
                
                <!-- Itera sobre el formulario y muestra las etiquetas, campos y errores de cada campo -->
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>  <!-- Muestra cada campo del formulario con su etiqueta y los errores de validación, si los hay -->
                {% endfor %}

                <div class="col-12 mt-3">  <!-- Crea una columna para el botón de guardar -->
                    <button type="submit" class="btn btn-primary">Guardar</button><br>  <!-- Botón para enviar el formulario -->
                </div>

                <!-- Si hay errores que no están asociados a campos específicos, los muestra como alertas -->
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>  <!-- Muestra los errores generales del formulario como mensajes de alerta -->
                    {% endfor %}
                {% endif %}
                
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}  <!-- Finaliza el bloque de contenido principal -->
