{% extends 'app/base.html' %} <!-- Extiende la plantilla base para reutilizar la estructura común del sitio -->
{% load static %} <!-- Carga los archivos estáticos necesarios como CSS, imágenes o scripts -->
{% block title %}Inicio de sesion | Lili Fashion{% endblock title %} <!-- Establece el título de la página -->

{% block main-content %}
<!-- Sección principal del contenido de la página donde se presenta el formulario para confirmar la contraseña -->
<div class="container">
    <div class="row my-3">
        <!-- Se centra el contenido en la página, usando clases de Bootstrap -->
        <div class="col-sm-6 offset-sm-3">
            <!-- Título que indica que el usuario debe confirmar la contraseña -->
            <h3>Confirmar contraseña</h3>
            <!-- Línea horizontal para separar el título del formulario -->
            <hr>
            
            <!-- El formulario para confirmar la contraseña -->
            <form action="" method="post" novalidate class="shadow p-5">
                <!-- Protección CSRF, para prevenir ataques de falsificación de solicitudes entre sitios -->
                {% csrf_token %}
                
                <!-- Itera sobre los campos del formulario y los muestra -->
                {% for fm in form %}
                    <!-- Muestra la etiqueta del campo y el propio campo -->
                    {{fm.label_tag}} {{fm}} 
                    
                    <!-- Si hay errores en el campo, los muestra en rojo -->
                    <small class="text-danger">
                        {{fm.errors|striptags}} 
                    </small><br>
                {% endfor %}
                
                <!-- Botón de envío del formulario -->
                <input type="submit" class="btn btn-primary mt-4" value="Submit">
                <br>
                
                <!-- Si el formulario tiene errores generales, los muestra -->
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <!-- Muestra los errores de tipo general en una alerta roja -->
                        <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock main-content %}
