{% extends 'app/base.html' %} <!-- Extiende la plantilla base para reutilizar la estructura común del sitio -->
{% load static %} <!-- Carga los archivos estáticos necesarios como CSS, imágenes o scripts -->
{% block title %}Cambiar Contraseña | Astral Shop{% endblock title %} <!-- Establece el título de la página -->

{% block main-content %}
<!-- Sección principal del contenido de la página -->
<div class="container my-5">
    <div class="row">
        <!-- Título que saluda al usuario -->
        <h3>Hola!, {{request.user.username|capfirst}}</h3>
        
        <!-- Menú de navegación lateral con un botón para cambiar la contraseña -->
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <!-- Enlace que parece un botón para cambiar la contraseña (actualmente no tiene funcionalidad) -->
                    <a href="#" class="btn btn-primary">Cambiar contraseña</a>
                </li>
            </ul>
        </div>

        <!-- Contenedor principal donde se muestra el mensaje de éxito -->
        <div class="col-sm-8 offset-sm-1 text-center">
            <h3>Contraseña cambiada exitosamente !!!</h3>    
        </div>
        
        <!-- Incrusta un GIF desde Giphy para mostrar un efecto visual divertido -->
        <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe>

    </div>
</div>

{% endblock main-content %}
