{% extends 'app/base.html' %} <!-- Extiende la plantilla base para reutilizar la estructura común del sitio -->
{% load static %} <!-- Carga los archivos estáticos necesarios como CSS, imágenes o scripts -->
{% block title %}Cambiar contraseña | Lili Fashion{% endblock title %} <!-- Establece el título de la página -->

{% block main-content %}
<!-- Sección principal del contenido de la página donde se informa al usuario que el cambio de contraseña fue exitoso -->
<div class="container">
    <div class="row my-3">
        <!-- Centro el contenido en la página, usando clases de Bootstrap -->
        <div class="col-sm-6 offset-sm-3">
            <!-- Encabezado que indica que el cambio de contraseña fue exitoso -->
            <h3 class="alert-heading">Cambio de contraseña exitoso !!!</h3>
            <!-- Línea horizontal para separar el título del resto del contenido -->
            <hr>
        </div>
        <div>
            <!-- Se inserta un GIF usando un iframe desde Giphy que muestra una animación de éxito -->
            <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
        </div>
    </div>
</div>

{% endblock main-content %}
