{% extends 'app/base.html' %} <!-- Extiende la plantilla base para reutilizar la estructura común del sitio -->
{% load static %} <!-- Carga los archivos estáticos necesarios como CSS, imágenes o scripts -->
{% block title %}Cambiar contraseña | Lili Fashion{% endblock title %} <!-- Establece el título de la página -->

{% block main-content %}
<!-- Sección principal del contenido de la página donde se presenta un mensaje de confirmación -->
<div class="container">
    <div class="row my-3">
        <!-- Centra el contenido en la página, utilizando clases de Bootstrap para el diseño -->
        <div class="col-sm-6 offset-sm-3">
            <!-- Título que indica que el proceso fue exitoso -->
            <h3 class="alert-heading">Bien hecho !!!</h3>
            
            <!-- Mensaje que informa al usuario que se le ha enviado un correo con instrucciones -->
            <p>Le hemos enviado un correo con instrucciones para reestablecer su contraseña<b>Por favor revisa tu correo</b></p>
            
        </div>
    </div>
</div>

{% endblock main-content %}
