{% extends 'app/base.html' %} <!-- Extiende la plantilla base para reutilizar la estructura común del sitio -->
{% load static %} <!-- Carga los archivos estáticos necesarios como CSS, imágenes o scripts -->
{% block title %}Cambiar contraseña | Astral shop{% endblock title %} <!-- Establece el título de la página -->

{% block main-content %}
<!-- Sección principal del contenido de la página donde se presenta el formulario para cambiar la contraseña -->
<div class="container">
    <div class="row my-3">
        <!-- Centra el contenido en la página, utilizando clases de Bootstrap para el diseño -->
        <div class="col-sm-6 offset-sm-3">
            <!-- Título del formulario que indica al usuario que puede cambiar su contraseña -->
            <h3 class='titulo-olvido-password'>Cambiar contraseña</h3>
            <hr>

            <!-- Formulario para cambiar la contraseña -->
            <form action="" method="post" novalidate class="shadow p-5">
                <!-- Se incluye el token CSRF para protección contra ataques CSRF -->
                {% csrf_token %}
                
                <!-- Itera sobre el formulario y genera los campos correspondientes -->
                {% for fm in form %}
                    {{fm.label_tag}} <!-- Muestra la etiqueta del campo -->
                    {{fm}} <!-- Muestra el campo del formulario -->
                    <small class="text-danger">
                        <!-- Muestra los errores de validación del campo (si los hay) -->
                        {{fm.errors|striptags}} 
                    </small><br>
                {% endfor %}

                <!-- Botón de envío del formulario -->
                <input type="submit" class="btn btn-primary mt-4" value="Enviar">
                <br>

                <!-- Si el formulario tiene errores generales, se muestran en esta sección -->
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock main-content %}
